# Data Input Methods in Panadas


This notebook will demo the most common data input methods in Pandas.

(1) read_csv  
(2) read_html  
(3) Query from Database

## Read CSV file

One of the most common methods for pandas to populate a DataFrame is read data from a [comma-seprated values (CSV)](https://en.wikipedia.org/wiki/Comma-separated_values) file.

Pandas provides a native funtcion read_csv to perform this task. Thought it supports rich features, the most common/simple way is pass it the file name and it will read the file into DataFrame:

```python
df = pd.read_csv(file_name)
df.head()
```

In [1]:
import pandas as pd

In [4]:
file_name = 'iris.csv'
df = pd.read_csv(file_name)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

If we do not have columns name in the first row in the file, we can specify them in parameter names:

In [8]:
file_name = 'Running.csv'
df = pd.read_csv(file_name, names = ['DateTime','HeartRate','Pace'])
df.head()

               DateTime  HeartRate  Pace
0  2018-02-22T02:24:14Z        100   2.6
1  2018-02-22T02:24:16Z        104   2.7
2  2018-02-22T02:24:18Z        104   2.6
3  2018-02-22T02:24:20Z        107   2.6
4  2018-02-22T02:24:22Z        108   2.5

In [2]:
url = 'http://cocl.us/Geospatial_data'
geo_info = pd.read_csv(url)

In [3]:
geo_info.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476